/.idea/dataSources/8adb1e25-d3ea-491c-b4e3-4e6e4c6b7cf4.xml
/out/production/Curso Alura/br/com/alura/screenmatch/calculos/CalculadoraDeTempo.class
/out/production/Curso Alura/br/com/alura/screenmatch/calculos/Classificavel.class
/Curso Alura.iml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/out/production/Curso Alura/br/com/alura/screenmatch/modelos/Episodio.class
/out/production/Curso Alura/br/com/alura/screenmatch/modelos/Filme.class
/out/production/Curso Alura/br/com/alura/screenmatch/calculos/FiltroRecomendacao.class
/.idea/dataSources/8adb1e25-d3ea-491c-b4e3-4e6e4c6b7cf4/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/8adb1e25-d3ea-491c-b4e3-4e6e4c6b7cf4/storage_v2/_src_/schema/information_schema.FNRwLQ.zip
/.idea/misc.xml
/.idea/modules.xml
/.idea/dataSources/8adb1e25-d3ea-491c-b4e3-4e6e4c6b7cf4/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/dataSources/8adb1e25-d3ea-491c-b4e3-4e6e4c6b7cf4/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/out/production/Curso Alura/br/com/alura/screenmatch/principal/Principal.class
/out/production/Curso Alura/br/com/alura/screenmatch/principal/PrincipalComListas.class
/out/production/Curso Alura/br/com/alura/screenmatch/modelos/Serie.class
/.idea/dataSources/8adb1e25-d3ea-491c-b4e3-4e6e4c6b7cf4/storage_v2/_src_/schema/sys.zb4BAA.meta
/.idea/dataSources/8adb1e25-d3ea-491c-b4e3-4e6e4c6b7cf4/storage_v2/_src_/schema/sys.zb4BAA.zip
/out/production/Curso Alura/br/com/alura/screenmatch/modelos/Titulo.class
/.idea/uiDesigner.xml
/.idea/vcs.xml
/.idea/workspace.xml
