### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
!**/*.iml
*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/src/br/com/alura/screenmatch/calculos/CalculadoraDeTempo.java
/src/br/com/alura/screenmatch/calculos/Classificavel.java
/src/br/com/alura/screenmatch/modelos/Episodio.java
/src/br/com/alura/screenmatch/modelos/Filme.java
/src/br/com/alura/screenmatch/calculos/FiltroRecomendacao.java
/src/Principal.java
/src/br/com/alura/screenmatch/modelos/Serie.java
/src/br/com/alura/screenmatch/modelos/Titulo.java
